body{
    background-color: cadetblue !important;
}

.title {
    margin: 3%;
    text-align: center;
}
.form-control{
    width: 25% !important;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.navbar {
    margin: 3%;
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
}